<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tunergitarowy">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".TunerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TunerActivity"
            android:label="@string/title_activity_tuner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSelector"
            android:label="@string/title_activity_profile_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileListActivity"
            android:label="@string/title_profile_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".profileDetailActivity"
            android:label="@string/title_profile_detail"
            android:parentActivityName=".profileListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tunergitarowy.profileListActivity" />
        </activity>
    </application>

</manifest>